<div class = "container">
  <center>
    <h1><%= @recipe.name %></h1>
  </center>

  <h4>Ingredients:</h4>
  <ul>
    <% @recipe.ingredients.each do |ingredient| %>
      <li><a href="/recipe/<%= @recipe.id %>/ingredient/<%= ingredient.id %>"><%= ingredient.name %></a></li>
    <% end %>
  </ul>

  <form action="/recipe/<%= @recipe.id %>" method="post">
    <div class='form-group'>
      <input type="hidden" name="_method" value="patch">
      <label for="name">Update Recipe Name</label>
      <input type="text" name="name" class='form-control'><br>
      <button class= "btn btn-default" type="submit">Update</button>
    </div>
  </form>

  <form action="/recipe/<%= @recipe.id %>" method="post">
    <div class='form-group'>
      <input type="hidden" name="_method" value="post">
      <label for="ingredient">Add an Ingredient to this Recipe</label>
      <input type="text" name="ingredient" class='form-control'><br>
      <button class= "btn btn-default"type="submit">Add</button>
    </div>
    <button class= "btn btn-default"><a href="/">Back</a></button>
  </form>
</div>
